.skill_container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
}
/* .col {
  max-width: 500px;
} */
/* .card {
  max-width: 500px;
} */
.row {
  max-width: 1000px;
  justify-items: center;
  justify-content: center;
  align-items: center;
}
/*h1*/

#Skill_tagline {
  margin-top: 90px;
  color: white;
  text-shadow: 15px;
  font-weight: bold;
  margin-bottom: 35px;
}
#Skill_tagline_education {
  margin-top: 90px;
  color: white;
  text-shadow: 15px;
  font-weight: bold;
  margin-bottom: 50px;
}

h3 {
  align-items: center;
  justify-content: center;
  justify-items: center;
}

#h5_card {
  color: black;
  font-weight: bold;
}

.skill_btn {
  border-radius: 40px;
  margin-top: 20px;
  margin: 8px;
}
/* .card-body {
    margin-bottom: 5px;
  } */
/* .card {
  margin-bottom: 8px;
} */
/* Education*/
/* .cardbody_Edu {
  width: 550px;
} */
.navbar-brand {
  font-size: 1rem;
}
/* .card {
  background-color: rgb(250, 248, 246);
  margin-bottom: 8px;
} */
#btn {
  display: inline-block;
  padding: 10px 20px;
  background: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 60px;
  margin-bottom: 30px;
  transition: background 0.3s;
}

#btn:hover {
  background: #0056b3;
}

/* .row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
} */
/* 
@media (max-width: 350px) {
  .col {
    margin: 0 20px;
  }
} */
